<h2>Additional Places to Purchase</h2>

{% schema %}
{
  "name": "Where to Buy",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "Where to Buy",
      "settings": {
        "title": "Where to Buy"
      }
    }
  ]
}
{% endschema %}
