/* Custom Styles */

/* Changes to base.css

  Line 247 .page-width - max-width: var(--page-width); BD comment out
  Line 451 .h1 font-size: calc(var(--font-heading-scale) * 3.2rem) - BD og was 4rem
  Line 2185 .announcement bar background: linear-gradient(90deg,rgba(217,27,92,1) 0%,rgba(142,41,110,1) 25%,rgba(46,44,114,1) 50%,rgba(0,101,171,1) 75%,rgba(0,177,216,1) 100%) !important; - BD added this
  Line 2212 .announcement-bar__message padding: 1.25rem 0; - BD edit OG 1rem 0
  Line 2259 @media screen and (min-width: 1270px) - BD og was 990px
  Line 2331 @media screen and (max-width: 1269px) - BD og was 989px
  Line 2348 @media screen and (min-width: 1270px) - BD og was 990px
  Line 2415 @media screen and (max-width: 1269px) - BD og was 989px
  Line 2611 @media screen and (min-width: 1270px) - BD og was 990px
  Line 2750 @media screen and (min-width: 1270px) - BD og was 990px
  Line 2788 .ratio filter: brightness(0.97); - BD added this

*/

/* BD Custom CSS */

html {
  scroll-behavior: smooth;
}

.announcement-bar__message.bd-left {
  display: flex;
}

.announcement-bar:empty {
  display: flex;
  width: 100%;
}

.utility-bar {
  background: linear-gradient(90deg,rgba(217,27,92,1) 0%,rgba(142,41,110,1) 25%,rgba(46,44,114,1) 50%,rgba(0,101,171,1) 75%,rgba(0,177,216,1) 100%)!important;
}

@media screen and (max-width: 1200px) and (min-width: 990px) { 
  .utility-bar__grid--3-col {
    grid-template-columns: 3fr 3fr;
  }
}

.bd-flex {
  display: flex;
  justify-content: flex-end;
}

.bd-flex a{
  color: white;
  fill: white;
}

.bd-flex a svg.icon {
  margin-right: 10px;
}

svg.icon-bd {
  fill: white;
  margin-right: 10px;
}

.email, .phone, .quote-request, .upload {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.email, .quote-request {
  margin-left: 30px;
}

@media screen and (max-width: 1200px) {
 /* .bd-mobile-hide{
    max-width: 50%;
  } */
  
  .bd-mobile-center {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .bd-mobile-hide {
    display: none;
  } 

  .bd-mobile-center {
    max-width: 100%;
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .bd-collection-center {
    max-width: 66.67%;
    margin: auto;
  } 
}

.button--inverse {
  color: #D91B5C;
  border: 1px solid #D91B5C;
  background: white;
}

.button--inverse:hover {
  border: 2px solid #D91B5C;
}

.bd-redirect-button {
    display: block;
    border: 1px solid #D91B5C;
    color: #D91B5C;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
}

.bd-redirect-button:hover {
    border: 2px solid #D91B5C;
}

/* Cart page */

cart-items {
  margin: auto;
}

.cart__footer {
  max-width: 1600px;
  margin: auto;
  padding: 0 5rem;
}

/* Volume Discounts */

.volume-discount-header-bd {
  background: #0065AB;
  text-align: center;
  padding: 1.25rem;
}

.volume-discount-header-text-bd {
  color: white;
  margin: 0;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  font-size: 1.5rem;
  letter-spacing: .1rem;
}

.volume-discount-container-bd {
  display: grid;
}

.volume-discount-item-bd {
  text-align: center;
  padding: 1rem 2rem;
}

.volume-discount-item-bd {
  border: 1px solid rgba(18,18,18,0.75);
  border-radius: 1rem;
}

/* 1 col */
.volume-discount-container-bd.column-1 {
  grid-template-columns: 1fr;
  width: 100%;  
  gap: 0;
  border: 1px solid rgba(18,18,18,0.75);
}

.volume-discount-item-bd.column-1 {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid rgba(18,18,18,0.75);
}

.volume-discount-item-bd.column-1:last-child {
  border-bottom: 0;
}

.volume-discount-item-bd.column-1.even {
  background: #eee;
}


@media (max-width: 1269px) {
  .volume-discount-container-bd {
    grid-template-columns: 1fr;
    width: 100%;  
    gap: 0;
    border: 1px solid rgba(18,18,18,0.75);
  }

  .volume-discount-item-bd {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid rgba(18,18,18,0.75);
  }

  .volume-discount-item-bd:last-child {
    border-bottom: 0;
  }

  .volume-discount-item-bd.even {
    background: #eee;
  }
}
/*
@media (min-width: 1270px) {
  .volume-discount-container-bd {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
  }

  .volume-discount-item-bd {
    max-width: 48.5%;
    flex-grow: 1;
  }  
}

@media (min-width: 1470px) {
  .volume-discount-item-bd {
    max-width: 32%;
  }
}

@media (min-width: 1670px) {
  .volume-discount-item-bd {
    max-width: 23.5%;
  }
}

@media (min-width: 1920px) {
  .volume-discount-item-bd {
    max-width: 18.5%;
  }
}

@media (min-width: 2120px) {
  .volume-discount-container-bd {
    flex-wrap: nowrap;
  }
}*/