.banner__box {
    width: calc(40% - var(--grid-desktop-horizontal-spacing) / 2);
    max-width: calc(40% - var(--grid-desktop-horizontal-spacing) / 2);
}

.bd-image {
    width: calc(60% - var(--grid-desktop-horizontal-spacing) / 2);
    max-width: calc(60% - var(--grid-desktop-horizontal-spacing) / 2);
}